{% block body %}
<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Nouvelle programmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                {% form_theme modalAddScheduleForm 'form/add_schedule_form.html.twig' %}
                {{ form_start(modalAddScheduleForm) }}

                <div>
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                            {{ form_row(modalAddScheduleForm.label, {'label': 'Nom du programme', 'attr': {'placeholder': ''}}) }}
                        </div>
                            
                        <div class="col-6 d-flex justify-content-center">
                            {{ form_row(modalAddScheduleForm.start_day, {'label': 'Jour début', 'attr': {'placeholder': ''}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                          {{ form_row(modalAddScheduleForm.start_hour, {'label': 'Heure début', 'attr': {'placeholder': ''}}) }}
                        </div> 

                        <div class="col-6 d-flex justify-content-center">
                          {{ form_row(modalAddScheduleForm.mood_id, {'label': 'Ambiance', 'attr': {'placeholder': ''}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                          {{ form_row(modalAddScheduleForm.recurrence, {'label': 'Récurrence', 'attr': {'placeholder': ''}}) }}
                        </div>

                        <div class="col-6 d-flex justify-content-center">
                          {{ form_row(modalAddScheduleForm.end_day, {'label': 'Jour fin', 'attr': {'placeholder': ''}}) }}
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                          {{ form_row(modalAddScheduleForm.end_hour, {'label': 'Heure fin', 'attr': {'placeholder': ''}}) }}
                        </div>
                    </div>
                
                </div>

                <div class="row">
                    <div class="modal-footer col-12 d-flex justify-content-center">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      <button type="submit" name="add_bulb_submit" class="btn btn-warning btn-block">Enregistrer</button>
                    </div>
                </div>

                {{ form_end(modalAddScheduleForm) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}