{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}

	<div class="d-flex flex-column align-items-center justify-content-center position-relative">
		<div class="row w-100">
			<div class="col-md-12 d-flex flex-column align-items-center justify-content-center p-4">
				<h1 class="text-start mb-4">Mon profil
					<span class="brand">Filament </span>
				</h1>
			</div>
		</div>
	</div>
	<div class="col-md-6 offset-3 d-flex flex-column  justify-content-center p-4">
		<div class="align-items-center d-flex justify-content-center">
			<h2>Informations
				<span class="brand">personelles</span>
			</h2>
		</div>
		<div class="row w-100">
			<div class="col-md-5 offset-1 d-flex flex-column mt-2">
				<p>
					<strong>Nom:</strong>
					{{ app.user.firstname }}</p>
				<p>
					<strong>Prénom:</strong>
					{{ app.user.lastname }}</p>
			</div>

			<div class="col-md-5 offset-1 d-flex flex-column mt-2">
				<p>
					<strong>email:</strong>
					{{ app.user.email }}</p>
				<p>
					<strong>Téléphone:</strong>
					{{ app.user.phonenumber }}</p>
			</div>
		</div>
		<div id="facturation" class="row w-100">
			<div class="col-md-6 d-flex flex-column">
				<div class="align-items-center d-flex justify-content-center">
					<h2>Adresse de
						<span class="brand">facturation</span>
					</h2>
				</div>
				<div class="row w-100">
					<div class=" d-flex flex-column justify-content-center m-2">
						<p>
							<strong>SIRET:</strong>
							{{ app.user.siret }}</p>
						<p>
							<strong>N° de rue:</strong>
                            {{ app.user.shippingaddressnumber }} </p>
						<p>
							<strong>Nom de rue:</strong>
							 {{ app.user.shippingaddressstreetname }} </p>
						<p>
							<strong>Compléments d’adresse:</strong>
							 {{ app.user.shippingaddresscomplement }} </p>
						<p>
							<strong>Code postal:</strong>
							 {{ app.user.shippingaddresspostalcode }} </p>
						<p>
							<strong>Ville:</strong>
							 {{ app.user.shippingaddresscity }} </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 d-flex flex-column">
				<div class="align-items-center d-flex justify-content-center">
					<h2>Adresse de
						<span class="brand">livraison</span>
					</h2>
				</div>
				<div class="row w-100">
					<div class="d-flex flex-column justify-content-center m-2">
						<p>
							<strong>N° de rue:</strong>
							{{ app.user.billingaddressnumber }}</p>
						<p>
							<strong>Nom de rue:</strong>
							{{ app.user.billingaddressstreetname }}</p>
						<p>
							<strong>Compléments d'adresse:</strong>
							{{ app.user.billingaddresspostalcode }}</p>
						<p>
							<strong>Code Postal:</strong>
							{{ app.user.billingaddresscomplement }}</p>
						<p>
							<strong>Ville:</strong>
							{{ app.user.billingaddresscity }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <a href="{{path('app_modify_account')}}"><button type="button" class="btn btn-primary">Modifier</button></a>

{% endblock %}
