{% extends 'base.html.twig' %}

{% block title %}Mes ambiances
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-4 mb-4">

			<h1 class="mt-2 mb-4">Mon dashboard</h1>

			<div class="row d-flex justify-content-around">

                        {% include('dashboard_stats/dashboardStats.html.twig') %}
                    
                    
                    <div class="col-5 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">
                        <div class="row w-100">
                        
                            <h2 class="text-center pb-2">Mes ambiances</h2>
						<div>
							<table>
								<thead>
									<tr>
										<th scope="col">Nom</th>
										<th scope="col">Couleur</th>
										<th scope="col">Luminosité</th>
									</tr>
								</thead>
								<tbody>
									{% for mood in moods %}
										<tr>
											<td><a class="text-black" href="{{ path('app_view_one_mood', {id: mood.id})}}">{{mood.label}}</a></td>
 											<td>{{mood.color}}</td>
											<td>{{mood.luminosity}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="d-flex justify-content-center">
								 <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg-modal">
                            		Ajouter une ambiance
                        		</button>
                        
                        		{% include 'modal_add_mood/modalAddMood.html.twig' with { 'modalAddMoodForm': modalAddMoodForm } %}

								{# <i class="icon icon-plus cursorNav" href="/add/bulb"></i> #}
								{# <img src="{{ asset('icones/plus-solid.svg') }}" class="icon cursorNav" a href="/add/bulb" alt="ajout"> #}
							</div>
						</div>
					</div>
				</div>
				{% include('dashboard_menu/dashboardMenu.html.twig') %}
			</div>
		</main>
	{% endblock %}
