{% extends 'base.html.twig' %}

{% block title %}Mes ampoules
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-4 mb-4">

			<h1 class="mt-2 mb-4">Mon dashboard</h1>

			<div class="row d-flex justify-content-around">

                <!-- SECTION DE GAUCHE - LES STATISTIQUES-->  
                {% include('dashboard_stats/dashboardStats.html.twig') %}
                    
                <!-- SECTION CENTRALE - LISTE DES AMPOULES -->     
                <div class="col-5 border border-3 border-black rounded-2">
                    
                        <h2 class="text-center pb-2">Mes ampoules</h2>
                            
                        <div>
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <th scope="col" width="50%">Nom</th>
                                        <th scope="col">Couleur</th>
                                        <th scope="col">On/Off</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bulb in bulbs %}  
                                        <tr>
                                                                    
                                            <td>
                                                <a class="text-black" href="{{ path('app_view_bulb', {id: bulb.id}) }}" class="align-items-center nav-link breakRow" width="50%"><strong><u>{{ bulb.label }}</u></strong></a>
                                            </td>
                                            
                                            <td>
                                                <div class="bulb" style="background-color: {{ bulb.color }}; opacity: {{ bulb.luminosity }}/100"></div>
                                            </td>
                                            
                                            <td>
                                                <label class="switch p-2">
                                                    <input type="checkbox" {{ bulb.isOn == 1 ? 'checked': '' }}>
                                                <span class="slider round"></span>
                                                </label>
                                            </td>
                                        </tr>                              
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>           
                        
                        <!-- BOUTON D'AJOUT -->
                        <div class="d-flex justify-content-center">
                                    
                            <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#reg-modal">
                                Ajouter une ampoule
                            </button>
                            
                            <!-- FENÊTRE MODALE - FORMULAIRE D'AJOUT D'AMPOULE -->
                            {% include 'modal_add_bulb/modalAddBulb.html.twig' with { 'modalAddBulbForm': modalAddBulbForm } %}
                            
                        </div>              
                </div>    

                <!-- SECTION DE DROITE - MENU -->  
                {% include('dashboard_menu/dashboardMenu.html.twig') %}
              
			</div>
		</div>
	</main>
{% endblock %}

                            