{% extends 'base.html.twig' %}

{% block title %}Mes ambiances{% endblock %}

{% block body %}
	<main>
		<section>
            <div class="container mt-4 mb-4">
                    
                <div class="row d-flex justify-content-around">
                        
                    {% include('dashboard_stats/dashboardStats.html.twig') %}

                    <div class="col-5 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">
                        
                        <div class="row d-flex justify-content-end">

                            <div class="col-1">
                                <a href="{# {{ path('app_modify_bulb', {id: bulb.id}) }} #}"><i class="icon icon-modify"></i></a>
                            </div>
                            
                            <div class="col-1">
                                <a href="{# {{ path('app_delete_bulb', {id: bulb.id}) }} #}" onclick="return confirm('Souhaitez-vous vraiment supprimer cette ampoule ?')"><i class="icon icon-trash-can-regular"></i></a>  
                            </div>
                        </div>

                        <div class="row">
                            <div class="text-center">
                                <h1>{{mood.label}}</h1>
                            </div>
                        </div>

                        <div class="text-center">
                            <h3>Couleur : {{mood.color}} </h3>
                            <h3>Luminosité : {{mood.luminosity}} </h3>
                        </div>

                    </div>

                    {% include('dashboard_menu/dashboardMenu.html.twig') %}

                </div>
            </div>
		</section>
	</main>
{% endblock %}
