{% extends 'base.html.twig' %}

{% block title %}Mes lieux{% endblock %}

{% block body %}
	<main>
		<section>
            {% for place in places %}
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <h1>{{place.label}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <h3>Nom de rue : {{place.address1}} </h3>
                            <h3>Compléments d'adresse : {{place.address2}} </h3>
                            <h3>Code postal : {{place.zip}}</h3>
                            <h3>Ville : {{place.city}}</h3>
                            <h3>Téléphone : {{place.phone}}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}    
		</section>
	</main>
{% endblock %}