{% extends 'base.html.twig' %}

{% block title %}Mes lieux{% endblock %}

{% block body %}
	<main>
		<section>
            <div class="container mt-4 mb-4">
            
                <h1 class="mt-2 mb-4">Mon dashboard</h1>
                
                <div class="row d-flex justify-content-around">

                    <!-- Section de gauche - Statistiques -->   
                    {% include('dashboard_stats/dashboardStats.html.twig') %}

                    <div class="col-5 border border-3 border-black rounded-2">

                        <div class="row d-flex justify-content-end m-2 p-2">

                            <!-- Bouton de modification de l'adresse et son formulaire en fenêtre modale -->
                            <div class="col-1 me-2">
                                <i class="icon icon-modify" data-bs-toggle="modal" data-bs-target="#reg-modal"></i>
                                {% include 'modal_modify_place/modalModifyPlace.html.twig' with { 'modalModifyPlaceForm': modalModifyPlaceForm } %}
                            </div>
                            
                            <!-- Bouton de suppression de l'adresse -->
                            <div class="col-1">
                                <a href="{{ path('app_delete_place', {id: place.id}) }}" onclick="return confirm('Souhaitez-vous vraiment supprimer ce lieu ?')"><i class="icon icon-trash-can-regular"></i></a>  
                            </div>
                        </div>
                        
                        <!-- Informations détaillées de l'adresse -->
                        <div class="row text-center">
                            <h1>{{place.label}}</h1>
                        </div>
                        
                    
                        <div class="row d-flex justify-content-around">
                            <div class="text-center">
                                <h3>Nom de rue : {{place.address1}} </h3>
                                <h3>Compléments d'adresse : {{place.address2}} </h3>
                                <h3>Code postal : {{place.zip}}</h3>
                                <h3>Ville : {{place.city}}</h3>
                                <h3>Téléphone : {{place.phone}}</h3>
                            </div>
                        </div>
                    </div>

                    <!-- Section de droite - Menu -->
                    {% include('dashboard_menu/dashboardMenu.html.twig') %}

                </div>
            </div>
		</section>
	</main>
{% endblock %}
