{% extends 'base.html.twig' %}

{% block title %}Mes lieux{% endblock %}

{% block body %}
	<main>
		<section>
            <div class="container mt-4 mb-4">
            
                <h1 class="mt-2 mb-4">Mon dashboard</h1>
                
                <div class="row d-flex justify-content-around">
                        
                    {% include('dashboard_stats/dashboardStats.html.twig') %}

                    <div class="col-5 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">

                        <div class="row d-flex justify-content-end">

                            <div class="col-1">
                                <a href="{# {{ path('app_modify_bulb', {id: bulb.id}) }} #}"><i class="icon icon-modify"></i></a>
                            </div>
                            
                            <div class="col-1">
                                <a href="{# {{ path('app_delete_bulb', {id: bulb.id}) }} #}" onclick="return confirm('Souhaitez-vous vraiment supprimer cette ampoule ?')"><i class="icon icon-trash-can-regular"></i></a>  
                            </div>
                        </div>
                        
                        <div class="row text-center">
                            <h1>{{place.label}}</h1>
                        </div>
                        
                    
                        <div class="row d-flex justify-content-around">
                            <div class="text-center">
                                <h3>Nom de rue : {{place.address1}} </h3>
                                <h3>Compléments d'adresse : {{place.address2}} </h3>
                                <h3>Code postal : {{place.zip}}</h3>
                                <h3>Ville : {{place.city}}</h3>
                                <h3>Téléphone : {{place.phone}}</h3>
                            </div>
                        </div>
                    </div>

                    {% include('dashboard_menu/dashboardMenu.html.twig') %}

                </div>
            </div>
		</section>
	</main>
{% endblock %}
