{% extends 'base.html.twig' %}

{% block title %}Mes programmes
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-4 mb-4">

			<h1 class="mt-2 mb-4">Mon dashboard</h1>

			<div class="row">

                    <div class="col-4 border border-3 border-black rounded-2 d-flex flex-column pt-3 pb-3">
                        {% include('dashboard_stats/dashboardStats.html.twig') %}
                    </div>
                    
                    <div class="col-5 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">
                        <div class="row w-100">
                        
                            <h2 class="text-center pb-2">Mes programmes</h2>
						<div>
							<table>
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">Nom</th>
										<th scope="col">Début</th>
										<th scope="col">Fin</th>
										<th scope="col">Récurrence</th>
										<th scope="col">Ambiance</th>
									</tr>
								</thead>
								<tbody>
									{% for schedule in schedules %}
										<tr>
											<td></td>
											<td>{{schedule.label}}</td>
											<td>{{schedule.getStartDayDMY()}}
												<br>
												{{schedule.getStartHourHM}}
											</td>
											<td>{{schedule.getEndDayDMY()}}
												<br>
												{{schedule.getEndHourHM}}
											</td>
											<td>{{schedule.recurrence}}</td>
											{# <td>{{schedule.getMoodID}}</td> #}
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="d-flex justify-content-center border rounded-2 borderYellow">
								<a href="/add/schedule">
									<i class="icon icon-plus cursorNav" href="/add/schedule"></i>
								</a>
								{# <i class="icon icon-plus cursorNav" href="/add/bulb"></i> #}
								{# <img src="{{ asset('icones/plus-solid.svg') }}" class="icon cursorNav" a href="/add/bulb" alt="ajout"> #}
							</div>
						</div>
					</div>
				</div>
				<div class="col-2 border border-3 border-black rounded-2 d-flex align-items-start flex-column pt-3 pb-3">
					{% include('dashboard_menu/dashboardMenu.html.twig') %}
				</div>
			</div>
		</main>
	{% endblock %}
