{% extends 'base.html.twig' %}

{% block title %}Mes programmations
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-4 mb-4">

			<h1 class="mt-2 mb-4">Mon dashboard</h1>

			<div class="row d-flex justify-content-around">

				<!-- SECTION DE GAUCHE - STATISTIQUES -->
				{% include('dashboard_stats/dashboardStats.html.twig') %}
				
				<!-- SECTION CENTRALE - LISTE DES PROGRAMMATIONS -->
				<div class="col-5 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">
					<div class="row w-100">

						<h2 class="text-center pb-2">Mes programmations</h2>

						<div>
							<table width="100%">
								<thead>
									<tr>
										<th scope="col">Nom</th>
										<th scope="col">Début</th>
										<th scope="col">Fin</th>
										<th scope="col">Récurrence</th>
										<th scope="col">Ambiance</th>
									</tr>
								</thead>
								<tbody>
									{% for schedule in schedules %}
										<tr>
											<td><a class="text-black" href="{{ path('app_view_one_schedule', {id: schedule.id})}}"><strong><u>{{schedule.label}}</u></strong></a></td>
											<td>{{schedule.getStartDayDMY()}}
												<br>
												{{schedule.getStartHourHM}}
											</td>
											<td>{{schedule.getEndDayDMY()}}
												<br>
												{{schedule.getEndHourHM}}
											</td>
											<td>{{schedule.recurrence}}</td>
											<td>{{schedule.getMoodID}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

							<!-- BOUTON D'AJOUT -->
							<div class="d-flex justify-content-center">
								<button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#reg-modal">
									Ajouter une programmation
								</button>
								
								<!-- FENÊTRE MODALE - AJOUT D'UNE PROGRAMMATION -->
								{% include 'modal_add_schedule/modalAddSchedule.html.twig' with { 'modalAddScheduleForm': modalAddScheduleForm } %}
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION DE DROITE - MENU -->
				{% include('dashboard_menu/dashboardMenu.html.twig') %}
				
			</div>
		</main>
	{% endblock %}
