{% extends 'base.html.twig' %}

{% block title %}Mes programmations{% endblock %}

{% block body %}
	<main>
		<section>
                <div class="container mt-4 mb-4">

                    <h1 class="mt-2 mb-4">Mon dashboard</h1>
                    
                    <div class="row d-flex justify-content-around">
                        
                    {% include('dashboard_stats/dashboardStats.html.twig') %}

                    <div class="col-5 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">

                        <div class="row d-flex justify-content-end">

                            <div class="col-1">
                                <i class="icon icon-modify" data-bs-toggle="modal" data-bs-target="#reg-modal"></i>
                                {% include 'modal_modify_Schedule/modalModifySchedule.html.twig' with { 'modalModifyScheduleForm': modalModifyScheduleForm } %}
                            </div>
                            
                            <div class="col-1">
                                <a href="{{ path('app_delete_schedule', {id: schedule.id}) }}" onclick="return confirm('Souhaitez-vous vraiment supprimer cette programmation ?')"><i class="icon icon-trash-can-regular"></i></a>  
                            </div>
                        </div>
                    
                    
                        <div class="row text-center">
                            <h1>{{schedule.label}}</h1>
                        </div>
                    
                    <div class="row d-flex justify-content-around">
                        <div class="text-center">
                            <h3>Début: {{schedule.getStartDayDMY}} </h3>
                            <h3>Heure: {{schedule.getStartHourHM}} </h3>
                            <h3>Fin: {{schedule.getEndDayDMY}} </h3>
                            <h3>Heure: {{schedule.getEndHourHM}} </h3>
                            <h3>Ambiance: {{schedule.recurrence}} </h3>
                        </div>  
                    </div>

                </div>
                    {% include('dashboard_menu/dashboardMenu.html.twig') %}
		</section>
	</main>
{% endblock %}
