{% extends 'base.html.twig' %}

{% block title %}Mes programmations{% endblock %}

{% block body %}
	<main>
		<section>
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <h1>{{schedule.label}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <h3>Début: {{schedule.getStartDayDMY}} </h3>
                            <h3>Heure: {{schedule.getStartHourHM}} </h3>
                            <h3>Fin: {{schedule.getEndDayDMY}} </h3>
                            <h3>Heure: {{schedule.getEndHourHM}} </h3>
                            <h3>Ambiance: {{schedule.recurrence}} </h3>
                        </div>  
                    </div>
                </div>
		</section>
	</main>
{% endblock %}
