{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="text-center">
				<h1>Ajouter une adresse</h1>
			</div>
		</div>

		{% form_theme addPlaceForm 'form/add_place_form.html.twig' %}
		{{ form_start(addPlaceForm) }}

		<div class="row">
			<div class="col-6">
				{{ form_row(addPlaceForm.label, {'label': 'Nom de l\'adresse :', 'attr': {'placeholder': ''}}) }}
				{{ form_row(addPlaceForm.address_1, {'label': 'N° et nom de la rue :', 'attr': {'placeholder': ''}}) }}
				{{ form_row(addPlaceForm.address_2, {'label': 'Complément d\'adresse :', 'attr': {'placeholder': ''}}) }}
			</div>
			<div class="col-6">
				{{ form_row(addPlaceForm.zip, {'label': 'Code postal :', 'attr': {'placeholder': ''}}) }}
				{{ form_row(addPlaceForm.city, {'label': 'Ville :', 'attr': {'placeholder': ''}}) }}
				{{ form_row(addPlaceForm.phone, {'label': 'Téléphone :', 'attr': {'placeholder': ''}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<button type="submit" name="add_place_submit" class="btn btn-warning btn-block">Enregistrer</button>
			</div>
		</div>
	</div>
	{{ form_end(addPlaceForm) }}

{% endblock %}
