<footer>
    <div class="container">
        <div class="top d-flex justify-content-between">
            <a href="{{ path('app_home') }}"><img src="{{ asset('icones/logo-filament.png') }}" alt="logo filament"></a>

            <ul>
                <li>Ampoule</li>
                <li>Infographie</li>
            </ul>
        </div>

        <div class="row">
            <ul class="col-lg-4 col-md-6">
                <li>
                    <h2>contact@filament.com</h2>
                </li>
                <li>
                    <p>N'hésitez pas à nous contacter pour toute question, suggestion ou demande d'assistance. Notre
                        équipe
                        se fera un plaisir de vous aider</p>
                </li>
            </ul>

            <ul class="col-lg-4 col-md-6">
                <li>
                    <h4>Informations légales:</h4>
                </li>
                <li>
                    <p>Politique de confidentialité</p>
                </li>
                <li>
                    <p>Conditions d'utilisation</p>
                </li>
                <li>
                    <p>Politique de retour </p>
                </li>
            </ul>

            <ul class="col-lg-4 col-md-6">
                <li>
                    <h4>A propos de nous</h4>
                </li>
                <li>
                    <p>Nous sommes Filament, une équipe passionnée par l'innovation lumineuse et dévouée à créer des
                        solutions d'éclairage intelligentes pour votre quotidien.</p>
                </li>
            </ul>
        </div>
    </div>

    <ul>
        <li>
            <h4>2024 Filament</h4>
        </li>
        <li>
            <h4>Tous droits réservés</h4>
        </li>
    </ul>
    <div class="network">
        <ul>
            <li><img src="{{ asset('icones/icone-facebook.png') }}" alt="logo facebook"></li>
            <li><img src="{{ asset('icones/icone-instagram.png') }}" alt="logo instagram"></li>
            <li><img src="{{ asset('icones/icone-twitter.png') }}" alt="logo twitter"></li>
        </ul>
    </div>
</footer>